apiVersion: v1
kind: ServiceAccount
metadata:
  name: adk-agent-sa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adk-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adk-agent
  template:
    metadata:
      labels:
        app: adk-agent
    spec:
      serviceAccountName: adk-agent-sa
      containers:
        - name: adk-agent
          imagePullPolicy: Always
          image: chuangw/adk-agent:gemini
          resources:
            limits:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
            requests:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: ENVOY_SERVICE
              value: "envoy-proxy-d03bc75cf169.agentic-net-system.svc.cluster.local:10001"
            - name: GOOGLE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: google-secret
                  key: google-api-key
---
apiVersion: v1
kind: Service
metadata:
  name: adk-agent-svc
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: adk-agent
